.container {
    padding: 10px;
    background-color: black;
}

#number-input button {
    width: 42px;
}

label {
    font-size: 85%;
}

#static .row {
    border: 0.1px solid;
}

#static .col {
    border: 0.1px solid;
}