.container {
    margin: 2px 2px 2px 2px;
    padding: 10px;
    border: 1px solid #bcbcbc;
    background-color: black;
}

#number-input button {
    width: 42px;
}

label {
    font-size: 85%;
}