.container {
    margin: 2px 2px 2px 2px;
    padding: 10px;
    border: 1px solid #bcbcbc;
    background-color: black;
}

#number-input button {
    width: 42px;
}

label {
    font-size: 90%;
}

#static .row {
    border: 0.1px solid;
}

#static .col {
    border: 0.1px solid;
}